header {
  width: 100vw;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header img {
  margin-left: 40px;
}
header nav {
  margin-right: 32px;
}

header.light {
  background: linear-gradient(135deg, #909090, #f0f0f0);
}

header.dark {
  background: linear-gradient(135deg, #1f1f1f, #383838);
}

header.green {
  background: linear-gradient(135deg, #646100, #798b22);
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
