#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body.light {
  background-color: #fafafa;
  color: #333333;
}

body.dark {
  background-color: #2d2d2d;
  color: #ffffff;
}

body.green {
  background-color: #f0fff0;
  color: #2f4f4f;
}

button {
  border-radius: 8px;
  border: 1px solid #646464;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 12px;
}
button:hover {
  border-color: #646cff;
}
